[project]
	description = Reformats your code to support Hack Team code style
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/technion
[access "refs/for/refs/*"]
	read = group user/technion
	push = group user/technion
	label-Code-Review = -2..+2 group user/technion
	label-Verified = -1..+1 group user/technion
	rebase = group user/technion
	removeReviewer = group user/technion
	submit = group user/technion
[access "refs/heads/*"]
	read = group user/technion
	create = group user/technion
	push = +force group user/technion
	pushMerge = group user/technion
[access "refs/tags/*"]
	push = +force group user/technion
	pushTag = group user/technion
	pushSignedTag = group user/technion
